.main {
    width: 100%;
    margin-top: 64px;
    padding-top: 24px;
    display: flex;
    gap: 24px;
}

.middle {
    display: flex;
    min-width: 400px;
    flex-direction: column;
    padding: 32px 32px 0;
    border-radius: 5px;
    flex: 1;
    background-color: white;
}

@media screen and (max-width: 1200px) {
    .middle {
        margin-left: 24px;
    }
}

@media screen and (max-width: 900px) {
    .middle {
        margin-right: 24px;
    } 
}

.right {
    display: flex;
    list-style-type: none;
    padding: 16px;
    margin-right: 160px;
    width: 300px;
    border-radius: 5px;
    align-self: self-start;
    background-color: white;
}

@media screen and (max-width: 900px) {
    .right {
        display: none;
    }
}

.button {
    display: flex;
    justify-content: flex-end;
    width: 48px;
    height: 48px;
    border-radius: 500px;
    background-color: rgb(255, 255, 255, .1);
}