.main {
    width: 1200px;
    margin: auto;
    margin-top: 64px;
    padding-top: 24px;
    display: flex;
    gap: 24px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 48px;
}

.link:hover {
    background-color: rgb(255, 255, 255, .25);
}