
.middle {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
    padding: 24px;
    border-radius: 5px;
    margin-bottom: 24px;
    background-color: rgba(255, 255, 255, .1);
}

@media screen and (max-width: 1200px) {
    .middle {
        margin-left: 24px;
    }
}

@media screen and (max-width: 900px) {
    .middle {
        margin-right: 24px;
    } 
}

.middleNav {
    display: flex;
    gap: 24px;
    padding: 0 0 12px 0;
    border-bottom: 1px solid rgb(255, 255, 255, .1);
} 

.active {
    color: rgb(255, 255, 255, .4);
}

.active:hover {
    color: white;
    cursor: pointer;
}

