
.middle {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 5px;
    margin-bottom: 24px;
    background-color: white;
}

@media screen and (max-width: 1200px) {
    .middle {
        margin-left: 24px;
    }
}

@media screen and (max-width: 900px) {
    .middle {
        margin-right: 24px;
    } 
}

.middleNav {
    display: flex;
    gap: 24px;
    padding: 16px;
    border-bottom: 1px solid var(--border-color);
} 

.active {
    color: rgba(0, 0, 0, 0.4);
}

.active:hover {
    color: var(--theme-color);
    cursor: pointer;
}

