
.middle {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
    padding: 16px;
    border-radius: 5px;
    margin-bottom: 24px;
    background-color: rgba(255, 255, 255, .1);
}

@media screen and (max-width: 1200px) {
    .middle {
        margin-left: 24px;
    }
}

@media screen and (max-width: 900px) {
    .middle {
        margin-right: 24px;
    } 
}

.middleNav {
    display: flex;
    gap: 24px;
    padding: 0 0 12px 0;
    border-bottom: 1px solid rgb(255, 255, 255, .1);
}

.recommend {
    color: rgb(255, 255, 255, .4);
}   

.recommend:hover {
    color: white;
}   

.latest {
    color: rgb(255, 255, 255, .4);

}

.latest:hover {
    color: white;
    
}

.active {
    color: rgb(255, 255, 255, .4);

}

.card {
    display: flex;
    flex-direction: column;
    height: 160px;
    padding: 16px;
    gap: 16px;
    background-color: rgb(255, 255, 255, .3);
    border-radius: 5px;
}

.cardInfo {
    display: flex;
    gap: 16px;
}

.cardBottom {
    display: flex;
    gap: 16px;
}