.user {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 20px;
    width: 21.66rem;
    height: 200px;
    border-radius: 5px;
    align-self: self-start;
    background-color: rgb(255, 255, 255, .1);
}

.profile {
    display: flex;
    align-items: center;
    gap: 16px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, .1);
}

.hr {
    margin: 16px 0;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
