.container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.first {
    width: 200px;
    height: 200px;
    background-color: red;
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
    .first {
        display: none;
        width: 200px;
        height: 200px;
        background-color: red;
    }
}

.second {
    width: 700px;
    height: 200px;
    background-color: blue;
}

.third {
    width: 300px;
    height: 200px;
    background-color: darkblue;
}