.left {
    display: flex;
    width: 350px;
    flex-direction: column;
    border-radius: 5px;
    align-self: flex-start;
}

.link {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 160px;
    border: none;
    border-radius: 5px;
    background-color: white;
}

@media screen and (max-width: 1200px) {
    .left {
        display: none;
    }
}